:root{
  --mainColor: #0051FF;
  --subColor: #ffe100;
}

body{
  color: #333;
  overscroll-behavior: contain;
}

.rel{
  width: 100%;
  height: 100%;
  position: relative;
}
.more_btn{
  display: inline-block;
  border-radius: 30rem;
  width: max-content;
  height: max-content;
  padding: .7rem 1.5rem;
  background-color: var(--mainColor);
  color: #fff;
  font-size: 1.5rem;
  margin: 3rem 0;
}
.goto-top{
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.goto-top>i{
  font-size: 2.2rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1.6rem 1.3rem;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
  cursor: pointer;
}
.goto-top>a{
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
  background: url(../image/icon-down.png) no-repeat center var(--mainColor);
  border-radius: 50%;
  padding: 1.3rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
}
.goto-top>p{
  position: absolute;
  right: 107%;
  bottom: 1rem;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 1.2rem;
  width: max-content;
  padding: 1rem;
  border-radius: 3rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.goto-top>a:hover + p{opacity: 1;}
.goto-top.On{opacity: 1;}


