footer{
  width: 100%;
  padding: 2rem;
  background-color: #ffea4d;
}
.dask_only{display: none;}
.footer-inner address{font-style: normal;}
.footer-inner .logo{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
.footer-inner .logo img{width: 6rem;}
.footer-inner .logo p{
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 0.3rem;
}
.footer-inner .address{
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.footer-inner .mob_only i{
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #666;
}

@media screen and (min-width:768px){
  
  .mob_only{display: none;}

  .footer-inner{
    width: 95%;
    margin: auto;
    padding: 1rem;
  }
  .footer-inner .logo img{width: 7.5rem;}
  .footer-inner .logo p{font-size: 1.6rem;}
  .dask_only{display: block;}
  .address{
    display: flex;
    flex-direction: column;
  }
  .address span{
    display: block;
    text-indent: 3.5rem;
  }
  .address b{font-weight: 600;}
  .address address{margin-top: 1rem;}

}
@media screen and (min-width:1300px){

  .tablet_only{display: none;}
  .footer-inner{
    width: 130rem;
    margin: auto;
  }
  .footer-inner .logo img{width: 9rem;}
  .footer-inner .logo p{font-size: 2rem;}

  address{font-size: 1.6rem;}
  .address span{
    display: inline-block;
    text-indent: 1rem;
  }

}