body{color: #333;}
section{
  width: 100%;
  padding: 2rem;
  margin: 10rem auto;
  z-index: -1;
  overflow: hidden;
}
.goto-top{
  position: fixed;
  bottom: 7rem;
  right: 2.5rem;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.goto-top>i{
  font-size: 2.2rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1.6rem 1.3rem;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
  cursor: pointer;
}
.goto-top>a{
  position: relative;
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  background: url(../image/icon-down.png) no-repeat center var(--mainColor);
  border-radius: 50%;
  padding: 1.3rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
}
.goto-top>p{
  position: absolute;
  right: 107%;
  bottom: 1rem;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 1.2rem;
  width: max-content;
  padding: 1rem;
  border-radius: 3rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.goto-top>a:hover + p{opacity: 1;}
.goto-top.On{opacity: 1;}

main{
  height: 50rem;
  width: 100%;
}
main .main_tit{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
main .main_text p:first-child{
  font-size: 1.5rem;
}
main .main_text .text{
  font-size: 3.5rem;
  font-weight: 800;
  color: #0036ac;
}
main .main_text p:nth-child(3){
  font-size: 2.5rem;
}
main .main_images{display: none;}
main .moMain_images{
  position: absolute;
  top: 6.3rem;
  left: 0;
  width: 100%;
}
main .moMain_images img{width: 100%;}
main .moMain_images img:nth-child(1){
  display: none;
}
main .main_text > *{opacity: 0;}

#section01 .text_left{font-size: 2.5rem;}
#section01 .text_left b{font-size: 3rem;}
#section01 .text_right{
  font-size: 4rem;
  text-align: right;
}
#section01 .text_right b{font-size: 4.5rem;}
#section01 .content{
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  margin-top: 6rem;
}
#section01 .content .caption{
  position: relative;
  min-width: 21rem;
  border-radius: 1.5rem;
  height: 30rem;
  padding: 5rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.3rem;
}
#section01 .content .caption p{
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0 2rem;
  line-height: 2.6rem;
}
#section01 .content .cap1{background-color: var(--subColor);}
#section01 .content .cap2{
  background-color: var(--mainColor);
  color: #fff;
  margin-top: 8rem;
}
#section01 .content .cap1:after,
#section01 .content .cap2:after{
  content: '';
  position: absolute;
  width: 11rem;
  height: 16rem;
}
#section01 .content .cap1:after{
  background: url(../image/section01_1.png) no-repeat center/cover;
  right: 0;
  bottom: -7rem;
}
#section01 .content .cap2:after{
  background: url(../image/section01_2.png) no-repeat right/contain;
  right: 0;
  bottom: 80%;
  width: 16rem;
}
#section01 .btn{
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  font-weight: 700;
  transition: 0.3s;
}
#section01 .btn:hover{box-shadow: 0 0 0.3rem rgba(225,225,225,0.8);}

#section01 .cap1 .btn{background-color: #FFFDEB;}
#section01 .cap2 .btn{
  border: 0.1rem solid #D6E3FF;
  font-weight: 600;
}

#section01 .cap1,
#section01 .cap2{
  opacity: 0;
}

#section02{
  padding: 0;
  height: 95vh;
}
#section02 .s2_content{
  display: none;
  width: 100%;
  height: inherit;
}
#section02 .s2_content.active{display: block;}
#section02 .images img{
  position: absolute;
  width: 100%;
  height: 95%;
  object-fit: cover;
  display: none;
}
#section02 .s2_content .rel{
  background: rgba(0,0,0,0.5);
  padding: 2rem;
}
#section02 .menu_btn{
  text-align: right;
  font-size: 1.7rem;
  color: #fff;
  padding: 3rem 2rem 0 0;
  line-height: 4rem;
  cursor: pointer;
}
#section02 .menu_btn p.active{color: var(--subColor);}
#section02 .s2_tit{
  position: relative;
  width: 15rem;
  height: 15rem;
  background: url(../image/icon.png) no-repeat center/cover;
  margin-top: -6rem;
}
#section02 .s2_tit>span{
  position: absolute;
  top: 40%;
  right: -20%;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}
#section02 .itmes{margin-top: 5rem;}
#section02 div[class*=key]{
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  padding: 0 1.5rem 0 1rem;
  background-color: #fff;
  border-radius: 1.3rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2rem 3rem;
}
#section02 div[class*=key] img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
#section02 .content{
  position: absolute;
  right: 50%;
  bottom: 2%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 95%;
  height: 45%;
}
#section02 .caption{
  border: .1rem solid #fff;
  border-radius: .5rem;
  padding: 7%;
  flex: 1;
  color: #fff;
  transition: 0.3s;
}
#section02 .caption h3{
  font-size: 2.5rem;
  font-weight: 500;
}
#section02 .caption p{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
#section02 .caption span{font-size: 1.8rem;}
#section02 .caption .s2_btn{
  background-color: var(--mainColor);
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  float: right;
}
#section02 .s2_content .caption:hover{
  background-color: rgba(73, 73, 73, 0.5);
}
#section02 .caption:hover p{color: var(--subColor);}
#section02 .images img.active{display: block;}

#section02 .itmes div[class*=key]{
  opacity: 0;
}

#section02 .s2_content .main_image img{
  position: absolute;
  width: 100%;
  height: 95%;
  object-fit: cover;
}
#section02 #capTab2 .s2_tit{
  background: none;
  position: relative;
}
#section02 #capTab2 .s2_tit:before{
  content: '';
  position: absolute;
  width: 8rem;
  height: 8rem;
  right: -40%;
  top: 1rem;
  background: url(../image/logo-2.png) no-repeat center/cover;
}
#section02 .cards{
  position: relative;
  width: 95%;
  height: 35%;
  margin: auto;
}
#section02 .cards div[class*=card]{
  position: absolute;
  cursor: pointer;
}
#section02 div[class*=card]>span{
  display: inline-block;
  font-size: 3rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 3.5rem;
  background-color: rgba(255, 225, 0, 0.5);
}
#section02 div[class*=card] img{
  position: relative;
  margin-top: -5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: .2rem solid #fff;
}
#section02 div[class*=card] p{
  position: absolute;
  background-color: #E9EEF8;
  width: max-content;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  right: -1.5rem;
  bottom: 1rem;
}
#section02 .card1{
  top: 2%;
  left: 4%;
}
#section02 .card2{
  bottom: 25%;
  left: 10%;
}
#section02 .card3{
  top: 10%;
  right: 15%;
}
#section02 .card4{
  bottom: 30%;
  right: 10%;
}
#section02 .item{
  position: absolute;
  width: max-content;
  opacity: 0;
  transition: 0.35s;
  z-index: 2;
}
#section02 .card3 .item,
#section02 .card4 .item{
  left: -10rem;
}
#section02 div.item.active{opacity: 1;}
#section02 .card:hover .item{transform: scale(1.2);}

#section02 .s2_text{
  position: absolute;
  bottom: 5%;
  right: 4%;
  font-size: 2.8rem;
  color: #fff;
  text-align: right;
}
#section02 .s2_text>div{pointer-events: none;}
#section02 .s2_text b{font-size: 3rem;}
#section03 .content .text_tit{
  width: 95%;
  margin: auto;
}
#section03 .content h2{
  font-size: 2.7rem;
  color: #777;
  margin-bottom: .5rem;
  font-weight: 500;
}
#section03 .text{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#section03 .text p{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.4rem;
}
#section03 .text span{
  display: block;
  font-size: 1.5rem;
  color: #666;
  font-weight: 400;
  margin-top: 1rem;
}
#section03 table{
  width: 95%;
  text-align: center;
  font-size: 1.5rem;
  margin: 5rem auto;
  border-collapse: collapse;
}
#section03 table th,
#section03 table td{
  padding: 1.5rem;
  transform: translateY(1rem);
  border: 0.1rem solid #ddd;
}
#section03 table th{
  background-color: #D6E3FF;
  width: 15rem;
  color: #666;
  font-weight: 500;
}
#section03 table td{
  font-weight: 600;
}
#section03 table td:last-child{
  font-size: 1.6rem;
  color: var(--mainColor);
}
#section03 table td span{
  font-size: 1.3rem;
  font-weight: 400;
  color: #666;
}
#section03 .cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}
#section03 .cards .card{
  flex: 1;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 1.2rem;
}
#section03 .cards .card h6{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
#section03 .cards .card p{font-size: 1.2rem;}
#section03 .swiper-wrapper{
  margin-top: 3rem;
  cursor: grab;
}
#section03 .swiper-slide{
  width: max-content !important;
  height: max-content;
  background-color: #f9f9f9;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
#section03 .swiper-slide>span{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: url(../image/section03.png) no-repeat center/60% var(--mainColor);
}
#section03 .swiper-slide .pr_txt p{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 1rem 1rem;
}
#section03 .swiper-slide .pr_txt span:nth-of-type(1){
  background-color: #CEDFFD;
  color: var(--mainColor);
  border-radius: 3rem;
  padding: 0.3rem 1rem;
  margin-right: 2.2rem;
}
#section03 .swiper-slide .pr_txt span:nth-of-type(2){
  font-size: 1.2rem;
  font-weight: 500;
}
#section03 .swiper-slide .pr_txt span:nth-of-type(2) b{color: gold;}

#section03 table tr{opacity: 0;}

#section04 h2 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
#section04 .accordion .title{
  width: 95%;
  margin: auto;
  padding: 1.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 0.2rem solid var(--mainColor);
  cursor: pointer;
}
#section04 .accordion .title:after{
  content: '\f107';
  font-family: fontawesome;
  float: right;
  margin-top: 5px;
  transition: 0.35s;
}
#section04 .accordion .content{
  font-size: 1.4rem;
  padding: 1rem 5rem;
  line-height: 2.2rem;
  border-bottom: 0.05rem solid #ddd;
}
#section04 .accordion .content ul,
#section04 .accordion .content dl{
  margin-top: 1rem;
}
#section04 .accordion .content dt{font-weight: 500;}
#section04 .accordion dt.list{counter-reset: num;}
#section04 .accordion dt.list ~ dd:before{
  content: counter(num) " . ";
  counter-increment: num;
}
#section04 .accordion .title.active:after {
  content: '\f00d';
  color: #333;
}
#section04 .accordion .title.active {
  color: var(--mainColor);
  background-color: #F3F3F3;
  border-bottom: 0.2rem solid #999;
}
#section04 .accordion .content {display: none;}
#section04 .accordion .content.active{display: block;}