@media screen and (min-width:768px){

  .goto-top>a{display: none;}

  #section1 .tit{
    line-height: 5rem;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .s1-visual{display: none;}
  .s1-visual-pc{
    display:block;
    width: 25rem;
    height: 20rem;
  }
  #section1 table {font-size: 1.8rem;}
  #section1 table th,
  #section1 table td {
    padding: 1.5rem;
  }
  #section1 table td:last-child {font-size: 2rem;}
  #section1 table td span {font-size: 1.4rem;}
    #section2{
      width: 95%;
      margin: auto;
      margin-bottom: 10rem;
    }
    #section2 .tit_wrap{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }
    #section2 .tit_wrap h2{
        font-size: 3.5rem;
    }

    #section2 p{
        font-size: 2rem;
        margin-top: 10rem;
    }

    #section2 .chk-list{
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 2rem;
    }
    #section2 .content{
      padding: 3rem 2rem;
      background-color: #fff;
      border-radius: 1rem;
      flex: 1;
      height: 20rem;
      box-shadow: 0 0.2rem 1rem rgba(77, 77, 77, 0.2);
    }

    #section2 .content{
        text-align: left;
        margin: 0;
    }
    #section2 .dday{
        height: 2rem;
        width: 2rem;
    }
    #section2 h3{ 
      display: block;
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    #section2 h4{
        display: block;
        font-size: 1.4rem;
        text-align: center;
        margin: .5rem;
        padding: .3rem 1rem;
        line-height: 2.3rem;
        width: max-content;
    }

/* sub 2 이사청소 section 2 */

    .s2_contents {
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 60rem;
    }

    .s2_head {margin-bottom: 2rem;}

    .s2_head h2 {
        margin-bottom: 0.5rem;
        font-size: 3rem;
        font-weight: bold;
        color: #000;
    }

    .s2_head span {
        font-size: 2rem;
        color: #333;
        font-weight: 600;
    }

    .s2_content {
        display: flex;
        gap: 3rem;
    }

    .s2_btn {
        display: flex;
        margin-bottom: 1rem;
        gap: 2rem;
        flex-direction: column;
    }

    .s2_btn li {
        text-align: center;
        padding: 2rem 1rem;
        background-color: #f1f1f1;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .s2_btn li.active {
        background-color: var(--mainColor);
        color: #fff;
    }

    .item_info {flex: 1;}

    .item_info>li {display: none;}

    .item_info>li.active {
        display: block;
    }

    .item_info img {
        width: 100%;
        height: 30rem;
        margin-bottom: 3rem;
        border-radius: .5rem;
        object-fit: cover;
    }

    .item_info div span {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: left;
    }

    .item_info div span::before {
        content: '\f00c';
        font-family: fontawesome;
        display: inline-block;
        margin-right: 1rem;
        color: var(--mainColor);
        background-color: #D6E3FF;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font-size: 2rem;
        line-height: 1.5rem;
        font-weight: 600;
    }

    .title {
        font-size: 50px;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .description {
        color: #fff;
        font-size: 14px;
        line-height: 22px;
    }

    .read-more {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        padding: 3px 16px;
        margin-top: 24px;
        border: 1px solid #fff;
    }

    /* section 3 ---------- */
    #section3 {
      width: 100%;
      margin-top: 10rem;
    }
    #section3 .s3_content{width: 100%;}
    #section3 .tit_wrap{
      width: 90%;
      margin: auto;
      margin-bottom: 5rem;
    }
    #section3 .tit_wrap p {
        font-size: 5rem;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    #section3 .tit_wrap h5 {
        color: #666;
        width: 25rem;
        left: 68%;
        position: relative;
        font-size: 2rem;
    }

    #section3 .tit_wrap h3 {
        font-size: 4rem;
        color: #000;
        text-align: left;
    }

    #section3 .tit_wrap h3::after {
        content: '';
        position: absolute;
        top: -2rem;
        height: 10rem;
        width: 10rem;
        background: url(../image/tdesign_chat-bubble.png) no-repeat center/cover;
    }

    #section3 .tit_wrap h4 {
        font-size: 2rem;
        position: relative;
        text-align: center;
        width: 25rem;
        left: 68%;
        margin-bottom: 10rem;
    }
    #section3 .reviews{
      width: 90%;
      height: 80rem;
      margin: auto;
      position: relative;
      overflow: hidden;
    }
    #section3 .review {
      position: absolute;
      display: flex;
      align-items: center;
      justify-self: center;
      width: 50rem;
      height: 15rem;
      padding: .5rem 1rem;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      background: #FDFDFD;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    }

    #section3 .review .city {font-size: 1.2rem;}
    #section3 .review .re_textdown {font-size: 1.5rem;}
    #section3 .review .re_img img{
        height: 10rem;
        width: 15rem;
    }
    #section3 .review:nth-child(2) {
      top: 18%;
      right: 3%;
    }
    #section3 .review:nth-child(3) {
      top: 37%;
      left: 3%;
    }
    #section3 .review:nth-child(4) {
      top: 55%;
      right: 7%;
    }
    #section3 .review:nth-child(5) {
      top: 74%;
    }

}

@media screen and (min-width:1300px){
    
    main{
        height: 60rem;
    }
    main .m-visual{
        width: 100%;
        height: 50rem;
    }
    main .m-visual.second{
        width: 100%;
        height: 50rem;
    }
    main .main-inner{
        display: flex;
        align-items: center;
    }
    main h2, main .main-inner a{margin-top: 10rem;}
    main h2{
        font-size: 4rem;
    }
    .mob_only{display: none;}
    #section1{
      max-width: 1300px;
      margin: auto;
      height: 70rem;
    }
    #section1 .txt1{
        color: #666;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        text-align: left;
    }
    #section1 .article{
        height: 5.6rem;
        width: 5.6rem;
    }
    #section1 .tit{
        line-height: 8rem;
        font-size: 5rem;
        text-align: left;
    }
    #section1 .s1-visual{display: none;}
    .s1-visual-pc{
      width: 45rem;
      height: 25rem;
    }
    #section1 table{
      width: 80%;
      max-width: 120rem;
      font-size: 2rem;
      margin: 10rem auto;
    }
    #section1 table th,
    #section1 table td{
      padding: 2.5rem;
    }
    #section1 table td{font-weight: 600;}
    #section1 table td:last-child{
      font-size: 2.5rem;
    }
    #section1 table td span{
      font-size: 1.6rem;
    }

    #section2{
      margin: 30rem auto 20rem;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #section2 .tit_wrap{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    #section2 .tit_wrap h2{
        font-size: 3.5rem;
    }
    #section2 .chk-list{
      width: 90%;
      margin: auto;
      margin-top: -10rem;
      display: flex;
      align-items:center;
      justify-content: space-around;
      height: 55rem;
    }
    #section2 .content{
      padding: 4rem 2rem;
      height: 28rem;
    }
    
    #section2 h3{ font-size: 3rem;}

    #section2 h4{
      font-size: 2rem;
      line-height: .03rem;
      padding: 2rem 4rem;
    }

    #section2 .content>h4::before{
        content: '';
        background-color: #0051FF;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 1.6rem;
    }

/* sub 2 이사청소 section 2 */
#s2 {
    width: 100%;
    padding: 3rem;
    margin: 20rem 0;
}

.s2_contents {
  max-width: 1300px;
  margin: auto;
  margin-bottom: 30rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60rem;
  gap: 2rem;
}

.s2_head {
    text-align: right;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.s2_head h2 {
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-weight: bold;
    color: #000;
}

.s2_head span {
    font-size: 3rem;
    color: #333;
    font-weight: 600;
}

.s2_content {
    display: flex;
    height: 80rem;
}

.s2_btn {
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
    flex-direction: column;
}

.s2_btn li {
    text-align: center;
    padding: 2rem 1rem;
    width: 50%;
    margin-left: 10rem;
    background-color: #ffff;
    box-shadow: 0 .1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.s2_btn li.active {
    background-color: var(--mainColor);
    color: #fff;
}

.item_info {
    flex: 1;
}

.item_info>li {
    display: none;
}

.item_info>li.active {
    display: block;
}

.item_info img {
    width: 100%;
    height: 50rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    object-fit: cover;
}

.item_info div span {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
}

.item_info div span::before {
    content: '\f00c';
    font-family: fontawesome;
    display: inline-block;
    margin-right: 1rem;
    color: var(--mainColor);
    background-color: #D6E3FF;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 600;
}

/*Tab Menu ---------------------------------------*/

    #tabmenu{
    width:960px;
    height:500px;
    margin:30px auto;
    padding:30px;
    background:#f3f6f7;
    position: relative;
    display: inline-flexbox;
    justify-self: center;
    align-self:baseline;
    justify-self: center;
    }
    .tab-header{
    width:200px;
    position:relative;
    }
    .tab li{
    width:160px; 
    height:70px; /*->jQuery에서 탭메뉴 움직이는 거리*/
    box-sizing:border-box;
    float:left;
    color:#000;
    border-radius: 5rem;
    font-size:17px;
    line-height:70px;
    text-align:center;
    letter-spacing:1px; 
    position:relative;
    z-index:100;  
    }

    .tab li.active{color:#fff;} 
    .tab-highlight{  
    background-color: #0051FF;
    border-radius: 5rem;
    width: 160px;
    height:70px; 
    position:absolute;
    width:160px;
    left:0px;
    }

    /*Tab Mneu Contents ---------------------------------------*/
    .tab-contents div{
    margin-top:40px;
    width:700px;
    height:430px;
    padding:20px;
    display:none;   
    }
    .tab-contents div.active{display:block}

    .tab-contents #tab1{background-image: url(../image/image.png)}
    .tab-contents #tab2{background-color:#64416e;}
    .tab-contents #tab3{background-color:#397741;}
    .tab-contents #tab4{background-color:#8f7341;}
    .tab-contents #tab4 p{font-size: 2rem;}
    .title {
    font-size:50px;
    color: #fff;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:25px;
    }
    .description {
    color: #fff;
    font-size:14px;
    line-height:22px;
    }
    .read-more{
    color: #fff;
    font-size:14px;
    text-transform:uppercase;
    display:inline-block;
    padding:3px 16px;
    margin-top:24px;
    border:1px solid #fff;
    }

    /* section 3 ---------- */
    #section3 .tit_wrap{
      max-width: 1300px;
      margin: auto;
    }
    #section3 .tit_wrap p{
        font-size: 5rem;
        text-align: center;
        font-weight: bold;
        color: #333;
    }
    #section3 .tit_wrap h5{
        color: #666;
        width: 25rem;
        position: relative;
        font-size: 2.5rem;
    }
    #section3 .tit_wrap h3{
        margin: 0;
        font-size: 5rem;
        color: #000;
        text-align: left;
    }
    #section3 .tit_wrap h3::after{
        content: '';
        position: absolute;
        height: 15rem;
        width: 15rem;
        background: url(../image/tdesign_chat-bubble.png) no-repeat;
    }
    #section3 .tit_wrap h4{
        font-size: 2rem;
        position: relative;
        text-align: center;
        width: 25rem;
        left: 68%;
        margin-bottom: 10rem;
    }
    #section3 .reviews{
      max-width: 1300px;
      margin-top: 10rem;
      height: 130rem;
    }
    #section3 .review{
        display: flex;
        align-items: center;
        justify-self: center;
        width: 80rem;
        height: 22rem;
        padding: 10px 20px;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        background: #FDFDFD;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    }
    #section3 .review .re_img img {
      height: 18rem;
      width: 20rem;
    }

    #section3 .review .city{font-size: 1.5rem;}
    #section3 .review .re_textdown{font-size: 2rem;}

}
