:root{
    --mainColor: #0051FF;
    --subColor: #ffe100;
}

*{scroll-behavior: smooth;}
body{
    color: #333;
}
.rel{position: relative;}
.goto-top{
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    }
    .goto-top>i{
    font-size: 2.2rem;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1.6rem 1.3rem;
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 10;
}
.goto-top>a{
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    background: url(../image/icon-down.png) no-repeat center var(--mainColor);
    border-radius: 50%;
    padding: 1.3rem;
    margin-top: 1rem;
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
    z-index: 5000;
}
.goto-top>p{
    position: absolute;
    right: 107%;
    bottom: 1rem;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 1.2rem;
    width: max-content;
    padding: 1rem;
    border-radius: 3rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 5000;
}
.goto-top>a:hover + p{opacity: 1;}
.goto-top.On{opacity: 1;}

main{
    transform: translateY(5rem);
    height: 40.5rem;
    width: 100%;
}
main .m-visual{
    background: url(../image/m1-visual.jpg)no-repeat center/cover;
    width: 100%;
    height: 35rem;
    opacity: 0.8;
}
main .m-visual.second{
    background: url(../image/m2-visual.jpg)no-repeat center/cover;
    width: 100%;
    height: 35rem;
}
main .rel{
    position: relative;
    width: 100%;
    height: 78rem;
}
main h2{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 2px #333;
    color: #fff;
}
main  .main-inner a{
    position: absolute;
    top: 30%;
    left: 35%;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    width: max-content;
    height: 5rem;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #0051FF;
}

section{z-index: -1;
}
#section1{
    height: 43rem;
    padding-top: 3.5rem;
    padding-left: 2.5rem;
    margin-bottom: 20rem;
}
#section1 .article{
    height: 4rem;
    width: 4rem;
}
#section1 .txt1{
    color: #666;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}
#section1 .tit{
    font-size: 3rem;
}
#section1 .s1-visual{
    float: right;
    width: 16rem;
    height: 15rem;
}
#section1 table{
    width: 30rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 5rem auto;
    border-collapse: collapse;
}
#section1 table th,
#section1 table td{
    padding: 1.8rem;
    border: 0.1rem solid #ddd;
}
#section1 table th{
    background-color: #D6E3FF;
    width: 15rem; 
    color: #666;
    font-weight: 500;
}
#section1 table td{
    font-weight: 600;
}
#section1 table td:last-child{
    font-size: 1.6rem;
    color: var(--mainColor);
}
#section1 table td span{
font-size: 1rem;
font-weight: 400;
color: #666;
}
.s1-visual-pc{display: none;}

/* section2 */
#section2{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 10rem;
}
#section2 h2{
    font-size: 2.5rem;
    width: 28rem;
    margin-top: 8rem;
    border-bottom: 1px solid #333;
}

#section2 p{
    font-size: 1.5rem;
    text-indent: -4rem;
    margin-bottom: 2rem;
}
#section2 .chk-list{
    display: inline-block;
    justify-self: center;
    width: 40rem;
    height: 50rem;
    background: rgba(255, 225, 0, 0.30);
}

#section2 .content{
    text-align: left;
    margin-left: 3rem;
    margin-top: 4rem;
}
#section2 h3{ font-size: 1.5rem;}

#section2 h4{
    background-color: #CADDFE;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
    margin-left: 5rem;
    padding: 1rem;
    width: fit-content;
    height: 3.5rem;
    border-radius: 5px;
}

#section2 .content>h4::before{
    content: '';
    background-color: #0051FF;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
}


/* sub 2 이사청소 section 2 */
/* section2 */
#s2 {
    background-color: #f9f9f9;
    padding: 3rem;
}

.s2_contents {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 40rem;
    gap: 2rem;
}

.s2_head {
    text-align: left;
    margin-bottom: 2rem;
}

.s2_head h2 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 800;
    color: #000;
}

.s2_head span {
    color: #555;
    font-size: 1.5rem;
    font-weight: 500;
}

.s2_content {
    display: flex;
    gap: 3rem;
}

.s2_btn {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    flex-direction: column;
    flex: 0.5;
    
}

.s2_btn li {
    text-align: center;
    padding: 0.8rem 1rem;
    background-color: #ffff;
    box-shadow: 0 .1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.s2_btn li.active {
    background-color: var(--mainColor);
    color: #fff;
}

.item_info {flex: 1;}

.item_info>li {display: none;}

.item_info>li.active {display: block;}

.item_info img {
    width: 100%;
    height: 17rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    object-fit: cover;
}

.item_info div span {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
}

.item_info div span::before {
    content: '\f00c';
    font-family: fontawesome;
    display: inline-block;
    margin-right: 0.5rem;
    color: var(--mainColor);
    background-color: #D6E3FF;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 600;
}

.desk_only {
    display: none;
}
/*Tab Menu ---------------------------------------*/

    #tabmenu{
    width:40rem;
    height:30rem;
    margin:5rem auto;
    position: relative;
    display: flex;
    }
    .tab-header{
    width:200px;
    position:relative;
    }
    .tab li{
    width: 8rem; 
    height: 4rem; 
    box-sizing:border-box;
    float:left;
    color:#000;
    border-radius: 4rem;
    font-size:1rem;
    line-height:4rem;
    text-align:center;
    letter-spacing:1px; 
    position:relative;
    z-index:10;  
    transition: 0.5s;
    }

    .tab li.active{
        color:#fff;
        background-color: #0051FF;
        border-radius: 4rem;
    } 


    /*Tab Mneu Contents ---------------------------------------*/
    .tab-contents div{
    margin-top:40px;
    width:700px;
    height:430px;
    padding:20px;
    display:none;   
    }

    .tab-contents div.active{display:inline-block;}

    .tab-contents #tab1{background-image: url(../image/image.png)}
    .tab-contents #tab2{background-color:#64416e;}
    .tab-contents #tab3{background-color:#397741;}
    .tab-contents #tab4{background-color:#8f7341;}

    .title {
    font-size:50px;
    color: #fff;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:25px;
    }
    .description {
    color: #fff;
    font-size:14px;
    line-height:22px;
    }
    .read-more{
    color: #fff;
    font-size:14px;
    text-transform:uppercase;
    display:inline-block;
    padding:3px 16px;
    margin-top:24px;
    border:1px solid #fff;
    }

    /* section 3 --------  */
#section3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
    margin-left: 3rem;
}
#section3 .s3_content{
    display: inline-flexbox;
}
#section3 .tit_wrap p{
    font-size: 1.5rem;
}
#section3 .tit_wrap h3{font-size: 1.5rem;}
#section3 .tit_wrap h2{
    color: #666;
    position: relative;
    font-size: 2.5rem;
}
#section3 .tit_wrap h2::after{
    content: '';
    position: absolute;
    background-image: url(../image/tdesign_chat-bubble.png);
}
#section3 .tit_wrap span{font-size: 2rem;}

#section3 .re_textup img{height: 1.2rem;}
.review {
    z-index: -1;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fdfdfd;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
}

.review .re_textdown{
    font-weight: 500;
    font-size: 1.4rem;}
.review .re_img img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .5rem;
}


/* table tr{opacity: 0;}
#section1 .tit_wrap{opacity: 0;}
#section2 .tit_wrap{opacity: 0;}
#section2 .content{opacity: 0;} */

/* #s2 .s2_head{opacity: 0;}
#s2 .s2_content{opacity: 0;}
#section3 .tit_wrap{opacity: 0;}
#section3 .review{opacity: 0;} */

/* '#section3 div[class*=review]


