@media screen and (min-width: 768px) {
  html {
    font-size: 65%;
  }

  .goto-top > a {
    display: none;
  }

  main {
    width: 100%;
    height: 45rem;
  }
  .sub_text {
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    font-size: 4.2rem;
    transform: translateY(5rem);
  }
  .sub_btn {
    width: 80%;
    justify-content: left;
    align-items: flex-start;
    margin: auto;
    transform: translateY(-3rem);
  }

  /* section1 */
  #s1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50rem;
    position: relative;
  }
  #s1 .s1_left {
    width: 10rem;
  }
  .mb {
    width: max-content;
  }
  .s1_text {
    width: max-content;
  }
  .s1_left h3 {
    width: max-content;
  }
  .s1_text br {
    display: inline-block;
  }
  .dt_img {
    display: inline-block;
    width: 20rem;
    height: 28rem;
    transform: translate(3rem, 3rem);
  }
  .s1_right {
    transform: translateX(-10rem);
  }

  /* modal */
  .modal {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .modal_content {
    width: 70rem;
  }
  .form_group input {
    padding: 1rem;
  }
  .form_group input::placeholder {
    font-size: 1.4rem;
  }
  .form_group .search_btn {
    font-size: 1.4rem;
  }
  .modal_body p {
    font-size: 1.2rem;
  }

  /* section2 */
  #s2 {
    width: 100%;
    height: 50rem;
  }
  .s2_contents {
    width: 85%;
  }
  .s2_btn {
    flex: 0.4;
    gap: 1rem;
  }
  .s2_btn li {
    font-size: 1.8rem;
  }
  .item_info {
    flex: 1;
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
  }
  .item_info div span {
    font-size: 1.8rem;
  }
  .item_info div p {
    font-size: 1.4rem;
  }
  .item_info div span::before {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    transform: translateY(0.2rem);
    margin-right: 1.5rem;
  }
  .item_info img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    display: inline;
  }
  .item_info div {
    padding-top: 0;
  }

  /* section 3 */
  #s3 .s3_head h4,
  #s3 .s3_head span {
    font-size: 1.8rem;
  }
  .reviews {
    grid-template-columns: 1fr;
  }
  .review {
    width: 59rem;
  }
  .re_img img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  .review .re_textup .star {
    font-size: 1.8rem;
  }

  .review .re_textup .city {
    font-size: 1.6rem;
  }
  .re_textdown {
    font-size: 1.8rem;
  }

  /* sub 01-2____________________________ */

  /* section1 */
  #s2s1 {
    height: 50rem;
    margin-bottom: 15rem;
  }
  .s2s1_contents {
    width: 80%;
    margin: auto;
  }
  .s2s1_head br {
    display: none;
  }
  .s2s1_head {
    margin-bottom: 3rem;
  }
  .s2s1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    height: 40rem;
  }
  .s2s1_btns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0.5;
  }
  .s2s1_btn {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 12rem;
    top: 0;
    left: 0;
  }

  .s2s1_btn li {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
  .box {
    flex: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    width: 40rem;
  }
  .box_row {
    padding: 2rem 1rem;
    font-size: 1.4rem;
  }
  .box_row .left br {
    display: none;
  }

  .box_row .right span {
    letter-spacing: 0.05rem;
  }
  .box_row.header {
    font-size: 1.4rem;
  }

  .box_row .left {
    padding-left: 2rem;
    text-align: center;
  }

  .box_row .dis {
    font-size: 1.4rem;
  }
  .box p {
    font-size: 1.4rem;
  }

  /* section2 (서비스 절차) */
  #s2s2 {
    height: auto;
  }

  .s2s2_content {
    gap: 1rem;
  }

  .s2s2_img img {
    display: block;
    width: 30rem;
    transform: translate(5rem, 15rem);
  }

  .s2s2_texts {
    width: 35rem;
  }

  .s2s2_text h2 {
    font-size: 1.6rem;
  }

  .s2s2_text span {
    font-size: 1.4rem;
  }

  /* section3 (리뷰 섹션) */
  .s2s3_content {
    width: 90%;
    margin: auto;
  }

  .reviews {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    z-index: -1;
  }

  .review {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .review .re_texts {
    flex: 1;
  }

  .re_textup .star,
  .re_textup .city {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  main {
    width: 100%;
    height: 50rem;
  }
  .sub_v1,
  .sub_v2 {
    height: 50rem;
  }
  .sub_text {
    margin: auto;
    width: 70%;
    font-size: 6rem;
  }
  .sub_btn {
    width: 70%;
    font-size: 2.6rem;
    margin-top: 7rem;
  }

  /* section1 */

  #s1 {
    padding: 2rem;
  }

  .s1_left {
    width: 50rem;
    transform: translateX(8rem);
  }
  .s1_text h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .s1_text span {
    font-size: 3rem;
    font-weight: 800;
  }
  .dt_img {
    width: 40rem;
    transform: translate(20rem, -10rem);
  }

  .box_headt {
    width: 12rem;
    height: 5rem;
  }
  .box_head {
    width: 17rem;
    height: 5rem;
  }
  .times div:not(:nth-child(1)) {
    width: 12rem;
    height: 9rem;
  }
  .one_price div:not(:nth-child(1)) {
    width: 17rem;
    height: 9rem;
  }
  .other div:not(:nth-child(1)) {
    width: 17rem;
    height: 9rem;
  }
  .head {
    font-size: 1.4rem;
  }
  .time {
    font-size: 1.6rem;
  }
  .price {
    font-size: 1.6rem;
  }
  .discount {
    font-size: 1.6rem;
  }
  .info {
    font-size: 1.4rem;
    transform: translateX(-3rem);
  }

  /* modal */
  .modal {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  .modal_body h2 {
    font-size: 1.8rem;
  }
  .modal_body span {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }

  /* section2 */
  #s2 {
    height: 60rem;
  }
  .s2_contents {
    width: 70%;
    margin: auto;
  }
  .s2_head h2 {
    font-size: 2.4rem;
  }
  .s2_head span {
    font-size: 3rem;
  }
  .s2_btn {
    gap: 1.5rem;
  }
  .s2_btn li {
    font-size: 2rem;
  }
  .item_info div span {
    font-size: 2.2rem;
    margin-left: 2rem;
  }
  .item_info div span::before {
    font-size: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin-right: 1rem;
  }
  .item_info div p {
    font-size: 1.6rem;
    margin-left: 2rem;
  }
  .info_img {
    display: none;
  }
  .desk_only {
    display: block;
    width: 50rem;
    height: 30rem;
  }
  .desk_only img {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
  }
  .desk_only li {
    display: none;
  }
  .desk_only li.active {
    display: block;
  }

  /* section3 */
  .s3_content {
    width: 70%;
  }
  #s3 .s3_head h4,
  #s3 .s3_head span {
    font-size: 2.4rem;
  }
  .s3_head h2 {
    font-size: 3rem;
  }
  .reviews {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    z-index: -1;
  }

  .review {
    width: 86rem;
  }
  .re_img img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
  }
  .review .re_textup .star {
    font-size: 2rem;
  }

  .review .re_textup .city {
    font-size: 1.8rem;
  }
  .re_textdown {
    font-size: 2rem;
  }

  /* sub 01-2____________________________ */

  /* section1 */
  #s2s1 {
    height: 60rem;
    margin-bottom: 10rem;
  }
  .s2s1_contents {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
  }
  #s2s1 .s2s1_head h2 {
    font-size: 2.4rem;
  }
  .s2s1_head span {
    font-size: 3.2rem;
  }
  .s2s1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    height: 45rem;
  }
  .s2s1_btns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0.5;
  }
  .s2s1_btn {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20rem;
    top: 0;
    left: 0;
  }

  .s2s1_btn li {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
  .box {
    flex: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    width: 70rem;
  }
  .box_row {
    padding: 2rem 1rem;
    font-size: 1.8rem;
  }

  .box_row .right .w {
    display: none;
  }
  .box p {
    font-size: 1.6rem;
  }

  .box_row.header {
    font-size: 1.6rem;
  }

  .box_row .left {
    padding-left: 2rem;
    text-align: center;
  }

  .box_row .dis {
    font-size: 1.6rem;
  }

  /* section2 */
  #s2s2 {
    height: 70rem;
  }
  .s2s2_contents {
    width: 70%;
    margin: auto;
    padding: 2rem;
  }
  .s2s2_head h2 {
    font-size: 2.4rem;
  }
  .s2s2_head span {
    font-size: 3rem;
  }
  .s2s2_content {
    width: 50rem;
    gap: 1rem;
    margin: auto;
    margin-top: 1rem;
  }
  .s2s2_img img {
    width: 40rem;
    transform: translate(30rem, 10rem);
  }
  .s2s2_texts {
    width: 50rem;
  }
  .s2s2_text {
    width: 50rem;
  }
  .s2s2_texts .s2s2_text h2 {
    font-size: 2.4rem;
  }
  .s2s2_text span {
    font-size: 1.6rem;
  }

  /* section3 */
  #s2s3 {
    padding: 2rem;
  }
  #s2s3 .s2s3_content {
    width: 70%;
    margin: 3rem 0;
  }
  .s2s3_head h2 {
    font-size: 3rem;
  }
  .s2s3_head h4,
  .s2s3_head span {
    font-size: 2.4rem;
  }
}
